
th{
    padding: 10px;
    text-align: center;
    color : #1A4C89;
    font-weight: bold;
}
td{
     text-align: center;
     border: 2px solid #707070;
     color: #727272;;
     padding: 0.5em 0;
 }

.selected-courses i{
    color : #FF595E;
    background-color: #ffffff;
    font-size: 1.8em;
    font-family: Arial !important;
}
.selected-courses th{
    border: 2px solid #707070;
}
.selected-courses button{
    background-color: #ffffff;
    border : none;
}

.courses{
    border: 2px solid #0087E0;
}
.courses th{
    border-bottom: 2px solid #0087E0;
}
.courses tr:last-child td{
    border-bottom: none;
}
.courses tr td:last-child{
    border: none;
}
.courses tr td:first-child{
    border-right: none;
}

.submit-form-container{
    display: flex;
    padding: 10px 30px;
    align-items: center;
    justify-content: space-between;
    border:2px solid #0087E0;
    border-top:none;
    border-radius: 0 0 5px 5px;
}
.submit-form-container label{
    color : #1A4C89;
}
.submit-form-container span{
    display: flex;
    justify-content: space-between;
}

.refresh-btn{
    background-color: #AAAAAA;
    color : #ffffff;
    border: none;
    margin-left: 3px;
}

.form-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-input{
    text-align: center;
    background-color: #f2f2f2;
    height: 2.1em;
    border-radius: 5px;
    border: 2px solid #A9A9A9;
}

#search-form{
    border-radius: 5px;
    border: 2px solid #9B9B9B;
    width: 40%;
    /*fix*/
    height: 3em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.submit-button{
    background-color: #06D6A0 ;
    color: #FFFFFF;
    border:2px solid #06D6A0;
}

.btn-container{
    display: flex;
    align-content: center ;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border:2px solid #0087E0;
    border-bottom: none;
    padding: 30px 0;
    justify-content: space-around;
    flex-wrap: wrap;
}
.filter-btn{
    color: #707070;
    border: 2px solid #9B9B9B;
    background-color: #FFFFFF;
    min-width: 14%;
    font-weight: bold;
}

.icon-add{
    color: #FFFFFF;
    background-color: #5CB85C;
    border: none;
    margin: 0.2em;
}
.icon-circular-clock{
    color: #FFFFFF;
    background-color: #AAAAAA;
    border: none;
    margin: 0.2em;
}

.type-box{
    color: #FFFFFF;
}

.Takhasosi-box {
    background-color: #1FA5FF;
}

.Asli-box {
    background-color: #06D6A0;
}

.Umumi-box {
    background-color: #EDBB41;
}

.Paaye-box {
    background-color: #FF595E;
}
.finalized-box{
    border: 2px solid #5CB85C;
    color: #5CB85C;
}
.non-finalized-box{
    border: 2px solid #0087E0;
    color: #0087E0;
}
.waiting-box{
    border: 2px solid #707070;
    color: #707070;
}

.filter-btn.active{
    background-color: #93D3FF !important;
    border-color: #93D3FF !important;
}

.courses > tbody > tr > td:nth-child(3),
.courses > tbody > tr > td:nth-child(7),
.selected-courses > tbody > tr > td:nth-child(6) {
    font-weight: bold;
    color: #356197;
}

.cap-full {
    color: #727272 !important;
}

.submit-form-container > label {
    font-weight: bold;
}

