body{
    background-color: #FBFBFB;
}
table{
    border-collapse:separate;
    border-spacing:0 15px;
}
table tr td:first-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #1FA5FF;
}
table tr td:last-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
tr{
    margin : 10px;
}
td{
    text-align: center;
    border: 1px solid #1FA5FF;
    color: #727272;
    padding:5px;
}
ul{
    color:#0087E0;
    list-style-type: none;
    text-align: center;
}
ul span{
    color: #626262;
}
ul li{
    margin:1em;
}
ul img{
    border-radius: 50%;
    border: 3px solid #1FA5FF;
    height: 110px;
    margin: 1em 0;
}

.carousel-inner .carousel-item  > img {
    width:100%;
    height:400px;
    object-fit: cover;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.indeterminate-box{
    border: 2px solid #666666;
    color: #666666;
    background-color: #D8D8D8;
}
.passed-box{
    border: 2px solid #5CB85C;
    color: #5CB85C;
    background-color: #D6EDD6;
}
.failed-box{
    border: 2px solid #FF595E;
    color: #FF595E;
    background-color: #FFD5D6;
}

.passed-grade {
    color: #5CB85C;
    font-weight: bold;
}

.failed-grade {
    color: #FF595E;
    font-weight: bold;
}

.indeterminate-grade {
    color: #666666;
    font-weight: bold;
}

.avg-box {
    border: solid 2px #1FA5FF;
    color: #1FA5FF;
    font-weight: bold;
    align-self: flex-end;
    padding: 0.4em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 0;
}

.st-status-box {
    border: solid 1px #1FA5FF;
    padding: 0.3em;
}
.ul-container{
    border-left: 4px solid #0087E0;
    background-color: #FFFFFF;
}