body{
    background-color: #FBFBFB;
}
.table-header {
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

.main-div {
    border:2px solid #0087E0;
    border-radius: 0.5em;
    margin: 2em;
    background-color: #FFFFFF;
}

.table {
    border-top: 2px solid #0087E0;
}

table th, table td {
    text-align: center;
    height: 5em;
    vertical-align: middle;
}

.table > tbody > tr > td,
.table > thead > tr > th {
    vertical-align: middle;
    position: relative;
}

table {
    table-layout: fixed;
}


.flaticon-calendar {
    color: #0087E0;
    font-size: 1.5em;
    padding-left: 0.2em;
}

.plan-title {
    margin-right: 0.4em;
}

.course-box {
    border-radius: 0.8em;
    border-right: solid 0.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.time-2h {
    position: absolute;
    top: 5%;
    bottom: -95%;
    left: 5%;
    right: 5%;
}

.time-60-30m {
    position: absolute;
    top: 5%;
    bottom: -45%;
    left: 5%;
    right: 5%;
}

.time-30-60m {
    position: absolute;
    top:55%;
    bottom: -95%;
    left: 5%;
    right: 5%;
}

.time-3h {
    position: absolute;
    top: 5%;
    bottom: -195%;
    left: 5%;
    right: 5%;
}

.main-div span,
td, th {
    color: #595757;
}

.course-info span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.course-info span:nth-child(2),
.course-info span:nth-child(3) {
    font-weight: bold;
}

.ekhtesasi-box {
    background-color: #54bbff8e;
    border-color: #54BBFF;
}

.asli-box {
    background-color: #ff81857b;
    border-color: #FF8185;
}

.omumi-box {
    background-color: #dbb5537b;
    border-color: #DBB453;
}

.paye-box {
    background-color: #24dbad75;
    border-color: #24DBAD;
}

@media only screen and (max-width: 680px) {
    table {
        table-layout: auto;
    }

    .course-info span {
        font-size: 60%;
    }
}